<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <form [formGroup]="loginForm" (submit)="submitLoginForm()">
            <div class="modal-body">
              <div class="h5 modal-title text-center">
                <h4 class="mt-2">
                  <div>Bienvenue,</div>
                  <span
                    >Veuillez vous connecter à votre compte ci-dessous.</span
                  >
                </h4>
              </div>
              <div
                id="exampleInputGroup1"
                role="group"
                aria-describedby="exampleInputGroup1__BV_description_"
                class="mb-3"
              >
                <div>
                  <input
                    matInput
                    formControlName="email"
                    id="exampleInput1"
                    type="email"
                    placeholder="Entrez votre adresse mail..."
                    required="required"
                    aria-required="true"
                    class="form-control"
                    aria-describedby="exampleInputGroup1__BV_description_"
                  />
                  <small
                    tabindex="-1"
                    id="exampleInputGroup1__BV_description_"
                    class="form-text text-muted"
                    >Nous ne partagerons jamais votre adresse électronique avec
                    qui que ce soit.
                  </small>
                </div>
              </div>
              <div id="exampleInputGroup2" role="group" class="mb-3">
                <div>
                  <input
                    matInput
                    type="password"
                    formControlName="password"
                    id="exampleInput2"
                    type="password"
                    placeholder="Entrez votre mot de passe..."
                    required="required"
                    aria-required="true"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="custom-control custom-checkbox form-check">
                <input
                  id="exampleCheck"
                  type="checkbox"
                  name="check"
                  autocomplete="off"
                  class="form-check-input"
                  value="true"
                />
                <label for="exampleCheck" class="form-label form-check-label">
                  Gardez-moi connecté
                </label>
              </div>
            </div>
            <div class="modal-footer clearfix">
              <div class="float-start">
                <a [routerLink]="" class="btn-lg btn btn-link"
                  >Reinitialiser le mot de Passe</a
                >
              </div>
              <div class="float-end">
                <button
                  [disabled]="!loginForm.valid"
                  type=" submit"
                  class="btn btn-primary btn-lg"
                >
                  Connexion
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Position 237
      </div>
    </div>
  </div>
</div>
