<div class="h-100" style="background-color: #255033;">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div  style="margin:0 auto;width:300px">
        <img  class="img-fluid img-responsive" src="assets/images/ifddlogo.png"/>
      </div>
      <div class="modal-dialog w-100 mx-auto " style="margin-top:-30px">
        <div class="modal-content">
          <form [formGroup]="loginForm" (submit)="submitLoginForm()">
            <div class="modal-body">
              <div class="h5 modal-title text-center">
                <h4 class="mt-2">
                  <div>Bienvenue,</div>
                  <span
                    >Veuillez vous connecter à votre compte ci-dessous.</span
                  >
                </h4>
              </div>
              <div
                id="exampleInputGroup1"
                role="group"
                aria-describedby="exampleInputGroup1__BV_description_"
                class="mb-3"
              >
                <div>
                  <input
                    matInput
                    formControlName="email"
                    id="exampleInput1"
                    type="email"
                    placeholder="Entrez votre adresse mail..."
                    required="required"
                    aria-required="true"
                    class="form-control"
                    aria-describedby="exampleInputGroup1__BV_description_"
                  />
                 
                </div>
              </div>
              <div id="exampleInputGroup2" role="group" class="mb-3">
                <div>
                  <input
                    matInput
                    type="password"
                    formControlName="password"
                    id="exampleInput2"
                    type="password"
                    placeholder="Entrez votre mot de passe..."
                    required="required"
                    aria-required="true"
                    class="form-control"
                  />
                </div>
              </div>
             
            </div>
            <div class="modal-footer clearfix">
             
              <div class="spinner-grow text-muted text-center" *ngIf="loading" ></div>

              <div class="float-end">
                <button
                  style="background-color: #255033;color:black;opacity:unset"
                  [disabled]="!loginForm.valid"
                  type=" submit"
                  class="btn"
                >
                  Connexion
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </div>
</div>
