<ng-template #modal >
  
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <perfect-scrollbar>
      <form [formGroup] = "OscForm">
             <!--Nom osc-->
    <div class="position-relative row mb-3">
      <label for="exampleNom" class="form-label col-sm-3 col-form-label"
        >Nom de l'OSC</label
      >
      <div class="col-sm-9">
        <input type="text" 
          name="name"
          id="name"
          formControlName="name"
          class="form-control"
        />
     
      </div>
    </div>
    <!--Abbréviation osc-->
    <div class="position-relative row mb-3">
      <label for="exampleNom" class="form-label col-sm-3 col-form-label"
        >Abbréviation</label
      >
      <div class="col-sm-9">
        <input type="text" 
          name="abbreviation"
          id="abbreviation"
          formControlName="abbreviation"
          class="form-control"
        />
     
      </div>
    </div>
      <!--Pays osc-->
      <div class="position-relative row mb-3">
        <label for="exampleNom" class="form-label col-sm-3 col-form-label"
          >Pays</label
        >
        <div class="col-sm-9">
          <select   name="pays" id="pays"   class="form-control">
          
            <option  value="BENIN"     [selected]="'Bénin' === osc.pays">
              BENIN
            </option>
            <option  value="TOGO"   [selected]="'Togo' === osc.pays">
              TOGO
            </option>
           
        </select>
          
       
        </div>
      </div>
       <!--dATE FONDATION osc-->
    <div class="position-relative row mb-3">
      <label for="exampleNom" class="form-label col-sm-3 col-form-label"
        >Date fondation</label
      >
       
      <div class="col-sm-9"> 
        <p>{{osc.date_fondation}}</p>
      
        <input class="form-control"  
      name="date_fondation"  id="date_fondation" [(ngModel)]="model" formControlName="date_fondation"   id="date_fondation" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}">  
       <div class="input-group-append">  
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>  
        </div>  
      
        
      </div>
    </div>
      <!--Description osc-->
      <div class="position-relative row mb-3">
        <label for="exampleNom" class="form-label col-sm-3 col-form-label"
          >Description</label
        >
        <div class="col-sm-9">
          <textarea  rows = "5" cols = "40" maxlength = "200"  formControlName="description" name="description" id="description"  class="form-control"></textarea>
                 
       
        </div>
      </div>

       <!--Personne à contacter-->
       <div class="position-relative row mb-3">
        <label for="exampleNom" class="form-label col-sm-3 col-form-label"
          >Personne de contact</label
        >
        <div class="col-sm-9">
          <input
          name="personne_contact"
          id="personne_contact"
          formControlName="personne_contact"
          type="text"
          class="form-control"
         
        />
        </div>
      </div>

        <!--Telephone-->
        <div class="position-relative row mb-3">
          <label for="exampleNom" class="form-label col-sm-3 col-form-label"
            >Téléphone</label
          >
          <div class="col-sm-9">
            <input
            name="telephone"
            id="telephone"
            formControlName="telephone"
            type="text"
            class="form-control"
           
          />
          </div>
        </div>
            <!--email-->
            <div class="position-relative row mb-3">
              <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                >Email</label
              >
              <div class="col-sm-9">
                <input
                name="email_osc"
                id="email_osc"
                formControlName="email_osc"
                type="text"
                class="form-control"
               
              />
              </div>
            </div>
             <!--email-->
           
             <!--site web-->
             <div class="position-relative row mb-3">
              <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                >Site web</label
              >
              <div class="col-sm-9">
                <input
                name="site_web"
                id="site_web"
                formControlName="site_web"
                type="text"
                class="form-control"
               
              />
              </div>
            </div>
              <!--facebook-->
              <div class="position-relative row mb-3">
                <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                  >facebook</label
                >
                <div class="col-sm-9">
                  <input
                  name="facebook"
                  id="facebook"
                  formControlName="facebook"
                  type="text"
                  class="form-control"
                 
                />
                </div>
              </div>

               <!--twitter-->
               <div class="position-relative row mb-3">
                <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                  >Twitter</label
                >
                <div class="col-sm-9">
                  <input
                  name="twitter"
                  id="twitter"
                  formControlName="twitter"
                  type="text"
                  class="form-control"
                 
                />
                </div>
              </div>
                  <!--instagram-->
                  <div class="position-relative row mb-3">
                    <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                      >Twitter</label
                    >
                    <div class="col-sm-9">
                      <input
                      name="instagram"
                      id="instagram"
                      formControlName="instagram"
                      type="text"
                      class="form-control"
                     
                    />
                    </div>
                  </div>

                     <!--linkedin-->
                     <div class="position-relative row mb-3">
                      <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                        >Linkedin</label
                      >
                      <div class="col-sm-9">
                        <input
                        name="linkedin"
                        id="linkedin"
                        formControlName="linkedin"
                        type="text"
                        class="form-control"
                       
                      />
                      </div>
                    </div>

                     <!--longitude-->
                     <div class="position-relative row mb-3">
                      <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                        >longitude</label
                      >
                      <div class="col-sm-9">
                        <input
                        name="longitude"
                        id="longitude"
                        formControlName="longitude"
                        type="text"
                        class="form-control"
                       
                      />
                      </div>
                    </div>

                       <!--latitude-->
                       <div class="position-relative row mb-3">
                        <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                          >latitude</label
                        >
                        <div class="col-sm-9">
                          <input
                          name="latitude"
                          id="latitude"
                          formControlName="latitude"
                          type="text"
                          class="form-control"
                         
                        />
                        </div>
                      </div>

                        <!--siège-->
                        <div class="position-relative row mb-3">
                          <label for="exampleNom" class="form-label col-sm-3 col-form-label"
                            >Siège</label
                          >
                          <div class="col-sm-9">
                            <input
                            name="siege"
                            id="siege"
                            formControlName="siege"
                            type="text"
                            class="form-control"
                           
                          />
                          </div>
                        </div>
                        
                        <!--Zones d'intervention-->
                        <div class="position-relative row mb-3">
                          <label
                            for="zone_intervention"
                            class="form-label col-sm-3 col-form-label"
                            >Zone intervention</label>
                  
                          <div class="col-sm-9" formArrayName="zoneInterventions">
                                
                           
                              <div class="position-relative row mb-3" *ngFor="let ZoneIntervention of getZoneInterventionsArray().controls; let i = index;" [formGroupName]="i">
                               <div class="col-sm-3">
                                Name: <input type="text" formControlName="name" class="form-control">
                          
                  
                              <div style="color: red;" *ngIf="getZoneInterventionsArray().controls[i].get('name').invalid && getZoneInterventionsArray().controls[i].get('name').touched">
                                <div *ngIf="getZoneInterventionsArray().controls[i].get('name').errors.required">
                                 intervention zone name is required.
                                </div>
                            </div>
                               </div>
                               <div class="col-sm-3">
                                longitude: <input type="text" formControlName="longitude" class="form-control">
                                <div style="color: red;" *ngIf="getZoneInterventionsArray().controls[i].get('longitude').invalid && getZoneInterventionsArray().controls[i].get('longitude').touched">
                                  <div *ngIf="getZoneInterventionsArray().controls[i].get('longitude').errors.required">
                                   intervention zone longitude is required.
                                  </div>
                              </div>
                               </div>
                               <div class="col-sm-3">
                                latitude: <input type="text" formControlName="latitude" class="form-control">
                                <div style="color: red;" *ngIf="getZoneInterventionsArray().controls[i].get('latitude').invalid && getZoneInterventionsArray().controls[i].get('latitude').touched">
                                  <div *ngIf="getZoneInterventionsArray().controls[i].get('latitude').errors.required">
                                   intervention zone latitude is required.
                                  </div>
                              </div>
                               </div>
                               <div class="col-sm-3">
                               <label style="color: white;">kjjjjjj</label> <button class="form-control" (click)="removeZoneIntervention(i)" class="btn btn-danger form-control">supprimer</button>
                            
                               </div>
                               
                              </div>
                          
                            <button type="button" (click)="addZoneIntervention()">
                              Ajouter
                            </button>
                           
                          
                          </div>
                        </div>


                        


                        <!--Catéégorie ODD-->
        <div class="position-relative row mb-3">                   
          <label
          for="siege"
          class="form-label col-sm-3 col-form-label"
          >Catégories ODD</label>
         <div class="col-sm-9" formArrayName="osccategoriesOdd">
       
      
         
            <div class="position-relative row " *ngFor="let categoriesOdd of getOsccategoriesOddArray().controls; let i = index;" [formGroupName]="i">
              <div class="col-sm-5" >
                <label>Numéro de Cible ODD</label>
                <input id="idCategoriesOdd" formControlName="idCategoriesOdd"  class="form-control" value="categoriesOdd.idCategoriesOdd"/>
              </div>
              <div class="col-sm-5">
                Description: <textarea  formControlName="description" name="description" id="description" class="form-control" value="categoriesOdd.description"></textarea>
              </div>
              <div class="col-sm-2">
                <label style="color: white;visibility: hidden;">kjjjjjj</label> <button class="form-control" (click)="removeOsccategoriesOdd(i)" class="btn btn-danger form-control">supprimer</button>
          
              </div>
             
            </div>
        
         
        
        </div>
        
        <div class="position-relative row mb-3">                   
          <label
          for="siege"
          class="form-label col-sm-3 col-form-label"
          ></label>

          <div class="col-sm-9" formArrayName="addOscCategoriesOdd">
       
      
         
            <div class="position-relative  row" *ngFor="let categoriesOdd of  getAddOscCategoriesOddArray().controls; let i = index;" [formGroupName]="i">
               <div class="col-sm-5" >
                  <span >Numéro de Cible ODD</span>
                  <select name="idCategoriesOdd" id="idCategoriesOdd" formControlName="idCategoriesOdd"  class="form-control">
                     <option value="" selected>--Choisir l'id catégorie ODD--</option>
                     <option *ngFor="let opt of idCategoriesOdd" value={{opt.id}}>{{opt.categorie_number}}</option>
               
                  </select>
           
              
                </div>
                <div class="col-sm-5">
                  Description: <textarea  formControlName="description" name="description" id="description" class="form-control"></textarea>
         
                </div>
             
                <div class="col-sm-2">
                    <label style="color: white;visibility: hidden;">kjjjjjj</label> <button class="form-control" (click)="removeAddOsccategoriesOdd(i)" class="btn btn-danger form-control">supprimer</button>
          
                </div>
             
            </div>
        
            <button  type="button" (click)=" addOscCategoriesOddNew()" >
              Ajouter
            </button>
         
        
        </div>

        </div>
      
     
       
      </div>


      </form>
    

                        
    </perfect-scrollbar>
   
  </div>

  <div class="modal-footer" style="display:flex;justify-content:center" >
    <button type="button"
            class="btn btn-outline-primary"
            (click)="close()"
            *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
            [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
      Valider
    </button>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="updateOsc()">
              Mettre à jour
    </button>
    <button type="button"
            class="btn btn-outline-danger"
            (click)="close()"
            *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
            [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
  </div>
</ng-template>